@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nanum Gothic", sans-serif;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  height: 500px;
  margin-top: 10px;
  font-size: 20px;
  /*   display: flex;
  flex-direction: column;
  align-items: center; */
}
/* Header Add Todo*/
.add-todo-bar {
  display: flex;
  height: 35px;
  border: 2px solid blue;
  border-radius: 4px;
  background-color: rgb(180, 224, 225);
  margin-bottom: 4px;
  justify-content: center;
  align-items: center;
}
.add-todo-bar button {
  color: white;
  height: 25px;
  border: none;
  border-radius: 12.5px;
  background-color: rgb(27, 40, 46);
}

.todo-item {
  border-bottom: 2px solid grey;
  margin: 4px 0px;
  flex-direction: row;
  justify-content: center;
  display: flex;
}

.todo-item .todo-title {
  margin-right: 5px;
  flex: 2;
}

.todo-item .todo-due-date {
  font-size: 14px;
  font-weight: 200;
  font-style: italic;
  order: -1;
  flex: 1;
}

.todo-item button {
  font-family: "Nanub Gothic", sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: white;
  height: 25px;
  width: 62px;
  border: none;
  border-radius: 16px;
  background-color: rgb(25, 84, 112);
  margin-bottom: 4px;
  align-self: center;
}

.todo-item:hover {
  border-bottom: 2px solid rgb(73, 64, 163);
  margin: 4px 0px;
}
