@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Nanum Gothic", sans-serif;
}
input[type="checkbox"] {
  /* Set the size of the checkbox */
  width: 20px;
  height: 20px;
  /* Set the margins around the checkbox */
  margin-top: 16px;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  color: rgb(58, 58, 58);
  height: 100%;
  background-color: white;
  overflow: hidden;
}
h2 {
  font-weight: 600;
  font-size: 1rem;
  padding-bottom: 12px;
  padding-left: 24px;
}
p {
  margin: 0px 0px;
}

header {
  display: flex;
  height: 48px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(67, 64, 65, 0.5);
  overflow: auto;
  z-index: 4500;
}
.header-container {
  display: flex;
  align-items: center;
  flex: 2;
}
.header-container h1 {
  font-size: 20px;
  font-weight: 500;
}
.header-icon {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  margin-right: 6px;
  transition: 0.15s;
}
.header-icon:hover {
  background-color: rgb(239, 239, 239);
}
.header-icon i {
  line-height: 50px;
  font-size: 20px;
}

.profile-picture {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 6px;
}
.profile-picture img {
  border-radius: 25px;
  height: 40px;
  width: 40px;
}
.container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.list-container {
  width: 100%;
  height: 100%;
  padding: 16px 24px;
  font-size: 18px;
}
/* Sidebar */
.sidebar {
  font-family: "Nanum Gothic", sans-serif;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  z-index: 100;
  padding: 16px 0px;
  transition: 0.2s;
  box-sizing: border-box;
  min-width: 150px;
  width: 288px;
  margin-left: 0px; /* -175px ot animate out of screen */
}
.sb-input {
  /* visibility: hidden; */
  display: none;
}
.sb-input:checked + .sb-tab-box {
  background-color: rgb(241, 241, 241);
  font-weight: 600;
}

.sb-tab-box {
  display: flex;
  height: 58px;
  cursor: pointer;
  padding-left: 14px;
  border-radius: 0 30px 30px 0;
  align-items: center;
}
.sb-tab-item-count {
  font-weight: 100;
  font-size: 14px;
}
.sb-tab-box:hover {
  background-color: rgb(250, 250, 250);
}
.sb-tab-contents {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.25rem;
}
.sidebar-collapsed {
  margin-left: -300px;
}

.new-list {
  width: 100%;
  justify-content: center;
  height: 60px;
  margin: 0px 12px 0px;
}

/* No List and No Todo Messages */
.no-todo-container.display,
.no-list-container.display {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 170px;
  left: 1075px;
}
.no-list-container.display {
  top: 100px;
}

.no-todo-container,
.no-list-container {
  display: none;
}
.no-todo-img,
.no-list-img {
  padding-top: 120px;
  margin-bottom: 2.5rem;
  max-width: 115px;
  max-height: 200px;
  width: auto;
  height: auto;
}
.no-todo-img {
  margin-bottom: 16px;
  max-width: 150px;
  max-height: 300px;
}

/* List title */
.list-title {
  font-size: 35px;
  font-weight: 600;
}
.list-title-container.hidden {
  display: none;
}
.list-title-container {
  display: flex;
  margin-left: 16px;
}
.list-title-text {
  display: flex;
  flex: auto;
  flex-direction: column;
}
.title-button-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
}

.tooltip {
  background-color: rgb(75, 75, 75);
  color: white;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  bottom: -22px;
  pointer-events: none;
  display: block;
  z-index: 2100;
  margin: 0;
  font-weight: 400;
  line-height: 0.5;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 11px;
  word-wrap: break-word;
  opacity: 0%;
  transform: scale(0%);
  transform: skewX(-30px);
  transition: 0.15s;
}
.title-button-wrapper:hover .tooltip {
  opacity: 1;
  transform: scale(100%);
  transform: skewX(0px);
  transition-delay: 0.1s;
}

.list-title-buttons {
  margin-right: 12px;
  height: 100%;
  display: flex;
}
.list-title-buttons button {
  color: rgb(58, 58, 58);
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 18px;
  background-color: transparent;
}
.list-title-buttons button:hover {
  background-color: rgb(241, 241, 241);
}

/* Dropdown Menus */
.dropdown-content {
  display: inline-block;
  position: absolute;
  background-color: white;
  min-width: 147px;
  opacity: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: -200;
  bottom: -80px;
  right: 0px;
  transition-property: opacity;
  transition-duration: 0.15s;
}
#more-dropdown {
  bottom: -120px;
}
.dropdown-content a {
  font-size: 14px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

.dropdown-content a:hover {
  background-color: rgb(241, 241, 241);
}

.dropdown-content.display {
  display: inline-block;
  z-index: 3000;
  opacity: 100;
}

/* Add Todo Bar */

.add-bar.hidden {
  display: none;
}
.add-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 50px;
  border-bottom: 1px solid grey;
  margin-right: 12px;
  margin-left: 16px;
  padding-left: 24px;
  justify-content: center;
  align-items: center;
  z-index: 201;
  transition: 0.15s;
}

.add-bar #todo-title {
  font-size: 18px;
  border: none;
  padding-left: 14px;
  height: 50px;
  width: 100%;
  background: transparent;
}

.add-bar #todo-title:focus {
  outline: none;
}

.add-bar i {
  margin-left: 20px;
}
.add-bar #date-picker {
  min-width: 90px;
}

/* Main Todo List */

.todo-list {
  display: none;
  padding-left: 16px;
}
.todo-list.active {
  display: block;
  padding-left: 16px;
}
.todo-item {
  height: 50px;
  margin-right: 12px;
  border-bottom: 1px solid rgb(228, 228, 228);
  flex-direction: row;
  justify-content: center;
  display: flex;
  transition: 0.15s;
  padding-left: 24px;
}

.todo-item:hover {
  background-color: rgb(241, 241, 241);
  border-bottom: 1px solid rgb(73, 64, 163);
}

.todo-item .todo-title {
  margin: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  margin-left: 13px;
}

.todo-item .todo-due-date {
  font-size: 14px;
  font-weight: 200;
  font-style: italic;
  order: -1;
  line-height: 52px;
  white-space: nowrap;
}
.todo-item input {
  margin-left: 38px;
}

/* Editing + Updating Todos */
.todo-item input[type="date"] {
  order: -1;
  height: 25px;
  margin-left: 0px;
  align-self: center;
}
.todo-item input[type="text"] {
  font-size: 20px;
  border: none;
  padding-left: 14px;
  height: 40px;
  margin: auto;
  margin-right: 0px;
  margin-left: 39px;
  width: 100%;
}
.todo-item input[type="text"]:focus {
  outline: none;
}

/* Pop Up */
#popup-field,
#popup-field-rename {
  background-color: rgba(0, 0, 0, 0);
  z-index: -2;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.15s;
}
#popup-field.reveal-popup,
#popup-field-rename.reveal-popup {
  opacity: 1;
  z-index: 3600;
  background-color: rgba(32, 33, 36, 0.6);
  display: flex;
}

.popup-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  height: 100%;
  max-width: 95%;
  pointer-events: none;
  transform: none;
  opacity: 1;
}
.popup-box {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  pointer-events: auto;
  overflow-y: auto;
  min-width: 280px;
  max-height: 555px;
  border-radius: 12px;
  overflow-y: auto;
}

.nl-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 24px;
  width: 400px;
  padding-top: 12px;
  padding-bottom: 32px;
  overflow: hidden;
}

.nl-input-box #new-list-input,
.nl-input-box #rename-list-input {
  font-size: 1rem;
  padding-left: 30px;
  border: none;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid grey;
  background-color: rgb(241, 241, 241);
  outline: none;
  transition: 0.1s;
}
.nl-input-box #new-list-input:focus {
  border-bottom: 2px solid rgb(31, 26, 143);
  margin-bottom: -1px;
}
.character-count {
  padding-top: 6px;
  padding-right: 12px;
  display: flex;
  align-self: flex-end;
  font-size: 12px;
}
h2::before {
  display: inline-block;
  width: 0;
  height: 40px;
  content: "";
  vertical-align: 0;
}

.nl-btn-box {
  display: flex;
  justify-content: flex-end;
  min-height: 52px;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  padding: 8px;
  padding-bottom: 14px;
  padding-right: 20px;
}

/* Corner Notifications */
.notification.display {
  visibility: visible;
  display: block;
  position: absolute;
  width: 340px;
  border-radius: 2px;
  height: 50px;
  padding-left: 25px;
  left: 22px;
  bottom: 22px;
  background-color: rgb(8, 30, 40);
}
.notification {
  visibility: hidden;
  display: none;
  position: absolute;
}
.notification p {
  font-size: 14px;
  color: white;
  line-height: 3.5;
}

/* Buttons */
.todo-item button,
.add-bar button,
.new-list-button,
.nl-btn-box button {
  font-family: "Nanub Gothic", sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: white;
  height: 25px;
  margin: 0px 12px 0px 12px;
  min-width: 62px;
  border: none;
  border-radius: 16px;
  background-color: rgb(25, 84, 112);
  align-self: center;
  text-align: center;
  transition: 0.15s;
  cursor: pointer;
}
.title-button i {
  pointer-events: none;
}
.todo-item .update-button,
.add-bar button {
  min-width: 62px;
  width: 174px;
  margin-right: 12px;
  margin-left: 18px;
}
.todo-item button:hover,
.add-bar button:hover {
  transform: scale(95%);
}
.todo-item button:hover,
input[type="date"]:hover,
.add-bar button:hover,
.new-list-button {
  cursor: pointer;
}

.new-list-button {
  font-size: 14px;
  width: 137px;
  height: 46px;
  margin: 0px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(67, 64, 65, 0.5);
}
.create-btn {
  pointer-events: none;
  opacity: 0.25;
}
.create-btn.active {
  opacity: 1;
  pointer-events: all;
}
.save-btn {
  pointer-events: none;
  opacity: 0.25;
}
.save-btn.active {
  opacity: 1;
  pointer-events: all;
}

/* .add-bar button {
  border: none;
  white-space: nowrap;
  min-width: 80px;
  margin-right: -17px;
} */

/* Media Queries */

@media screen and (max-width: 600px) {
  .list-container {
    position: fixed;
    max-height: 100%;
    padding: 12px 0px 12px 0px;
  }
  header {
    position: relative;
    z-index: 4500;
  }
  .list-title-container {
    margin-left: 6px;
  }
  .add-bar {
    margin: 6px;
    padding: 0px;
  }
  .add-bar button {
    margin-right: 0px;
  }
  .sidebar {
    height: 100vh;
    z-index: 3000;
    background-color: rgba(209, 209, 209, 0.94);
  }
  .sidebar-collapsed {
    margin-left: -450px;
  }
  .sb-tab-box {
    margin-right: 0.5px;
  }
  .add-bar #date-picker {
    min-width: 65px;
  }
  .todo-item {
    padding-left: 0px;
  }
  .todo-item [type="checkbox"] {
    margin-left: 14px;
  }
  .todo-item .todo-due-date {
    font-size: 12px;
  }
  .todo-item button {
    min-width: 40px;
    margin: 0px 6px 0px 6px;
  }
  .no-todo-container.display,
  .no-list-container.display {
    left: 120px;
  }
  .nl-input-box {
    max-width: 100%;
    margin: 0px;
  }
  .nl-input-box #new-list-input,
  .nl-input-box #rename-list-input {
    width: 90%;
    padding-left: 12px;
  }
  .notification.display {
    visibility: visible;
    display: block;
    position: fixed;
    width: 100%;
    border-radius: 2px;
    height: 50px;
    padding-left: 25px;
    left: 0px;
    bottom: 22px;
    background-color: rgb(8, 30, 40);
  }
  .notification {
    visibility: hidden;
    display: none;
    position: fixed;
  }
}

@media screen and (min-width: 451px) and (max-width: 649px) {
  .no-todo-container.display {
    top: 170px;
    left: 260px;
  }
  .no-list-container.display {
    left: 260px;
  }
}
@media screen and (min-width: 650px) and (max-width: 1300px) {
  .no-todo-container.display {
    top: 170px;
    left: 450px;
  }
  .no-list-container.display {
    left: 450px;
  }
}
@media screen and (max-height: 450px) {
  .list-container {
    position: fixed;
    padding: 12px 0px 12px 0px;
  }
  .no-todo-container.display {
    top: 98px;
    left: 432px;
    pointer-events: none;
  }
  .no-list-container.display {
    top: 0px;
    left: 386px;
    pointer-events: none;
  }
  header {
    position: relative;
    z-index: 4500;
  }
  #lists-wrapper {
    height: 100%;
  }
  .list-container {
    position: fixed;
    padding: 12px 0px 12px 0px;
    overflow: scroll;
  }
  .sidebar {
    height: 100vh;
    z-index: 3000;
    background-color: rgba(209, 209, 209, 0.94);
  }
  .notification.display {
    visibility: visible;
    display: block;
    position: fixed;
    width: 340px;
    border-radius: 2px;
    height: 50px;
    padding-left: 25px;
    right: 14px;
    bottom: 14px;
    background-color: rgb(8, 30, 40);
    z-index: 5000;
  }
  .notification {
    visibility: hidden;
    display: none;
    position: fixed;
    right: 14px;
    bottom: 14px;
  }
}
